<!--<p>
    memberList works!
</p>-->

<!--<nav class="navbar navbar-default">-->
    <div class="navbar-form">
        <select id="Select1" class="form-control" [(ngModel)]="selectedId" (ngModelChange)="doselect()">
            <option *ngFor="let class of aryClass" [value]="class.ClassId">{{class.Name}}</option>
        </select>
        <input id="Button1" class="btn btn-default" type="button" value="新增" (click)="go()" />
    </div>
<!--</nav>-->

<!--<div>
    <button *ngFor="let member of aryMember"
            (click)="modify(member)"
            class="list-group-item">
        {{member.Name}}&nbsp;&nbsp;{{member.Sex}} {{member.Phone}} {{member.Address}} {{member.Email}}
    </button>
</div>-->

<br />

<table class="table">
    <tr>
        <td>名稱</td>
        <td>性別</td>
        <td>郵件</td>
        <td>電話</td>
        <td>地址</td>
        <td></td>
    </tr>
    <tr *ngFor="let member of aryMember">

        <td>{{member.Name}}</td>
        <template [ngIf]="member.Sex == 0">
            <td>男</td>
        </template>
        <template [ngIf]="member.Sex == 1">
            <td>女</td>
        </template>
        <td>{{member.Phone}}</td>
        <td>{{member.Address}}</td>
        <td>{{member.Email}}</td>
        <td>
            <input id="Submit1" type="submit" value="修改" (click)="modify(member)" />
        </td>
    </tr>
</table>